<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TwittTrend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Worker</display-name>
    <servlet-name>Worker</servlet-name>
    <servlet-class>Worker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Worker</servlet-name>
    <url-pattern>/Worker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SentimentWorker</display-name>
    <servlet-name>SentimentWorker</servlet-name>
    <servlet-class>SentimentWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SentimentWorker</servlet-name>
    <url-pattern>/SentimentWorker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SNSHandler</display-name>
    <servlet-name>SNSHandler</servlet-name>
    <servlet-class>SNSHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SNSHandler</servlet-name>
    <url-pattern>/SNSHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trend</display-name>
    <servlet-name>Trend</servlet-name>
    <servlet-class>Trend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trend</servlet-name>
    <url-pattern>/Trend</url-pattern>
  </servlet-mapping>
</web-app>